<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamrocket.firstgen">

    <application
        android:allowBackup="true"
        android:icon="@drawable/introicon_black"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainPage"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".IntroPage" android:theme="@style/AppTheme.NoActionBar">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginPage" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".ScholarshipPage" />
        <activity
            android:name=".StoriesPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeedbackPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScholarshipListPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".StoryListPage" android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>